<head>
    <style>
        </style>
    <title>
        Rohan Jhunjhunwala, Personal Portfolio, 3D Engine
    </title>
    
    <link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" media="screen">
        <link rel="stylesheet" type="text/css" href="stylesheets/github-dark.css" media="screen">
            <link rel="stylesheet" type="text/css" href="stylesheets/print.css" media="print">
                
                <link rel="stylesheet" type="text/css" href="stylesheets/github-dark.css" media="screen">
                    
</head>

<body>
    <center>
        
        <h1>3D Engine</h1>
        <img src = "images/renders.png" title = "Renders" style="width:70vw">
            
            <pre>
This 3D engine, developed using pure java without 3rd party libraries, coincidentally served as an interesting way to apply the linear algebra content of my high school's multivariate calculus class. It provides a way to render objects in three dimensional space (with and without textures), as well as a number of different ways of procedurally generating interesting content. Learned how distinct branches of mathematics are unique ways of saying the same thing, including the connections between matrix multiplication and the multiplication of four-dimensional hyper-complex numbers known as quaternions. 
            </pre>
            
            </center>
</body>
<h2 style="text-align:center"><a href = "https://github.com/rjhunjhunwala/Simple3D">Source</a></h2>
<h3 style="text-align:center"><a href = "index.html">Back</a></h2>
    

