
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Rohan Jhunjhunwala, Software Portfolio</title>
    <link rel="stylesheet" type="text/css" href="../static/stylesheets/stylesheet.css" media="screen">
    <!-- Bootstrap core CSS -->
    <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet">
    <link href="../static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="../static/css/resume.css" rel="stylesheet">
</head>
<body>
    <center>
        
<h1>Chess AI, with Alpha Beta Pruning </h1>
<img src = "../static/images/Chess.gif" title = "Minimax Chess AI, with Alpha Beta Pruning" style="width:70vw">

    <pre>
Implemented an AI, which, using mini-max with Alpha-Beta pruning, can play a number of different games of perfect information (a formal designation which includes any game without hidden, or random aspects), including, most-notably, chess. Learned fundamentals of game-theory, and gained an appreciation for the intricacies of the human brain. While a human can instantly look at a game and develop a set of heuristics (certain rules of thumb which dictate long term strategy), my AI has to analyze a huge set of possibilities, before coming up with a move. Despite giving it a number of positional and material heuristics which allowed it to play relatively conventionally more nuanced techniques are required for more refined play.
    </pre>
    

<h2 style="text-align:center"><a href = "https://github.com/rjhunjhunwala/AI">Source</a></h2>
<h3 style="text-align:center"><a href = "index.html">Back</a></h3>
        </center>
    </body>