<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Rohan Jhunjhunwala, Software Portfolio</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" media="screen">
    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet">
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="css/resume.css" rel="stylesheet">
</head>
<body id="page-top">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">
            <span class="d-block d-lg-none">Rohan Jhunjhunwala</span>
            <span class="d-none d-lg-block">
                <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="img/profile.png" alt="">
            </span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">

                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#gallery">Gallery</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#experience">Experience</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#education">Education</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#skills">Skills</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#interests">Interests</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#aboutwebsite">About this site</a>
                </li>
                <li>
                <li class="nav-item">
                    <a class="nav-link " js-scroll-trigger" href="Rohan_Jhunjhunwala_Resume.pdf">Resume</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container-fluid p-0">
        <section class="resume-section p-3 p-lg-5 d-flex d-column" id="about">
            <div class="my-auto">
                <h1 class="mb-0">
                    Rohan
                    <span class="text-primary">Jhunjhunwala</span>
                </h1>
                <div class="subheading mb-5">
                    2650 Haste Street · Berkeley, California · (484)-719-8420
                    <a href="mailto:name@email.com">rjhunjhunwala80@berkeley.edu</a>
                </div>
                <p class="lead mb-5">The hackathon scene has done more than just deprive me of sleep. Through the sleep deprivation, I've met a number of interesting people, gained familiarity with a wide variety of technology, and formed permanent memories. This website aims to document these unique experiences, both at hackathons and at home. </p>
                <div class="social-icons">
                    <a href="https://www.linkedin.com/in/rohan-jhunjhunwala">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                    <a href="https://github.com/rjhunjhunwala">
                        <i class="fab fa-github"></i>
                    </a>
                </div>
            </div>
        </section>
        <hr class="m-0">
        <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="gallery">
            <div class="my-auto">
                <h2 class="mb-5">Gallery</h2>
                <p>Here are some selected images from my personal projects. Click on an image to be taken to the relevant repository. I haven't published the dynamic programming code, because it is a recurring competition at Cal.</p>
                <div class="section-gallery container">
                    <a href="https://github.com/rjhunjhunwala/AI" class="elem-gallery" style="background-image: url('images/Chess.gif')" title="Minimax Chess AI">
                        <div class="image-shadow">
                            <p class="container">Minimax Chess AI, with Alpha Beta Pruning</p>
                        </div>
                    </a>
                    <!-- Invidual gallery element -->
                    <a class="elem-gallery" style="background-image: url('images/DynamicProgrammingHog.png')" title="Dynamic Programming Visualization (Programming Contest Entrant)">
                        <div class="image-shadow">
                            <p class="container">Dynamic Programming Visualization, for Dice Game.</p>
                        </div>
                    </a>
                    <!-- End individual gallery element -->
                    <a href="https://github.com/rjhunjhunwala/S.I.D.E" class="elem-gallery" style="background-image: url('images/SIL-S.I.L.O.S.png')" title="Personal Language, Interpreter + IDE">
                        <div class="image-shadow">
                            <p class="container">Interpreter/Compiler for a language of my own specification and IDE</p>
                        </div>
                    </a>
                    <a href="https://github.com/rjhunjhunwala/Mandelbrot" class="elem-gallery" style="background-image: url('images/mandelbrot.png')" title="Mandelbrot Renders">
                        <div class="image-shadow">
                            <p class="container">Mandelbrot Set Generator</p>
                        </div>
                    </a>
                    <a href="https://github.com/rjhunjhunwala/Simple3D" class="elem-gallery" style="background-image: url('images/renders.png')" title="3D Engine">
                        <div class="image-shadow">
                            <p class="container">3D Rendering along with procedural content generation</p>
                        </div>
                    </a>
                    <a href="https://github.com/rjhunjhunwala/Waves" class="elem-gallery" style="background-image: url('images/Waves.png')" title="Waves">
                        <div class="image-shadow">
                            <p class="container">Simulation of partial differential wave equations</p>
                        </div>
                    </a>
                </div>
                </div>
        </section>
        <hr class="m-0">
        <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="experience">
            <div class="my-auto">
                <h2 class="mb-5">Experience</h2>
                <div class="resume-item d-flex flex-column flex-md-row mb-5">
                    <div class="resume-content mr-auto">
                        <h3 class="mb-0">Penn Medicine—​ ​Research Intern</h3>
                        <p>Assisted a nuero-radiologist in order to build a model of brain temperature based on DTI data and also worked in data entry for a longitudinal study on Parkinson’s disease. Part of the training included HIPAA compliance and a discussion of ethical processing of patient data.</p>
                    </div>
                </div>
                <div class="resume-item d-flex flex-column flex-md-row mb-5">
                    <div class="resume-content mr-auto">
                        <h3 class="mb-0">FIRST Robotics Team 1168—Chief Operating Officer</h3>
                        <p>Led FRC team 1168 to its first championship banner in its 14 years by writing software for tele-operated and autonomous navigation and supervising team logistics, including starting our first-ever off-season training sessions.</p>
                    </div>
                </div>
                <h3>Projects</h3>
                <br />
                <div class="resume-item d-flex flex-column flex-md-row mb-5">
                    <div class="resume-content mr-auto">
                        <h3 class="mb-0">
                            Y-Combinator Hackathon - Encryption Accessibility Aid
                        </h3>
                        <p>Within 24 hours, learned fundamentals of Python Flask and web architecture to build a Web API, which allowed clients to verify an RSA signature against a public key. Concurrently, assisted on a pair of projects. One used OpenCV and a convolutional neural network to automatically output HTML from a website sketch, and one counted cells from a microscope image.</p>
                    </div>
                </div>
                <div class="resume-item d-flex flex-column flex-md-row mb-5">
                    <div class="resume-content mr-auto">
                        <h3 class="mb-0">
                            NASA Space Apps Challenge: Global Judging Nomination
                        </h3>
                        <p>
                            Collaborated on an interactive phone-bot using Twillio's natural language processing API and on a website to improve our response to natural disasters.
                        </p>
                        <h4>
                            <a href="http://dibot.ml//">DiBot.ml</a>
                        </h4>
                    </div>
                </div>
                <div class="resume-item d-flex flex-column flex-md-row mb-5">
                    <div class="resume-content mr-auto">
                        <h3 class="mb-0">
                            Dynamic Programming, Bellman Equation
                        </h3>
                        <p>Implemented a dynamic programming solution which would use Bellman’s equation to create a near-optimal strategy to the given non-deterministic game of imperfect information. The bot ranked 11th against a competitive group of 124 others.</p>
                    </div>
                </div>
                <div class="resume-item d-flex flex-column flex-md-row mb-5">
                    <div class="resume-content mr-auto">
                        <h3 class="mb-0">
                            Minimax AI with Alpha-Beta Pruning
                        </h3>
                        <p>
                            Wrote a pure Java (no libraries) implementation of a minimax AI, which would play Chess and other deterministic games (Reversi, tic-tac-toe, etc...) by solving out a game tree out to a finite depth.
                        </p>
                    </div>
                </div>
                <div class="resume-item d-flex flex-column flex-md-row mb-5">
                    <div class="resume-content mr-auto">
                        <h3 class="mb-0">
                            Programming Language, Interpreter, and Extensible, Integrated Development Environment
                        </h3>
                        <p>
                            Wrote a fully-functional interpreter for a “Turing-Complete” language of my own design, and co-wrote a set of packaged development tools to allow users to work with this language and other “esoteric languages”.
                    </div>
                </div>
                <div class="resume-item d-flex flex-column flex-md-row mb-5">
                    <div class="resume-content mr-auto">
                        <h3 class="mb-0">3D Graphics Engine</h3>
                        <p>
                            Wrote a pure Java implementation of a 3D rendering engine where the camera has all six necessary degrees of freedom along with code to provide varying scenery, including procedurally generated terrain (perlin noise).
                        </p>
                    </div>
                </div>
                <div class="resume-item d-flex flex-column flex-md-row mb-5">
                    <div class="resume-content mr-auto">
                        <h3 class="mb-0">
                            Gesture-Based Playlist Controls
                        </h3>
                        <p>
                            Within a 36 hour Hackathon (PennApps), co-built a system to allow a user to control a Spotify Playlist with a number of gestures, and built an LED Glove to sync to the beat of the song being played.
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <hr class="m-0">
        <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="education">
            <div class="my-auto">
                <h2 class="mb-5">Education</h2>
                <div class="resume-item d-flex flex-column flex-md-row mb-5">
                    <div class="resume-content mr-auto">
                        <h3 class="mb-0">University of California, Berkeley</h3>
                        <div class="subheading mb-3">Bachelor of Science</div>
                        <div>Electrical Engineering and Computer Science</div>
                    </div>
                    <div class="resume-date text-md-right">
                        <span class="text-primary">Intended Graduation: 2020</span>
                    </div>
                </div>
                <div class="resume-item d-flex flex-column flex-md-row">
                    <div class="resume-content mr-auto">
                        <h3 class="mb-0">Malvern Preparatory High School</h3>
                        <div class="subheading mb-3">High School Diploma</div>
                        <p>GPA: 4.40 (Class Rank: 1/120)</p>
                    </div>
                </div>
            </div>
        </section>
        <hr class="m-0">
        <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="skills">
            <div class="my-auto">
                <h2 class="mb-5">Skills</h2>
                <div class="subheading mb-3">Programming Languages &amp; Tools</div>
                <ul class="list-inline dev-icons">
                    <li class="list-inline-item">
                        <i class="fab fa-java"></i>
                    </li>
                    <li class="list-inline-item">
                        <i class="fab fa-python"></i>
                    </li>
                    <li class="list-inline-item">
                        <i class="fab fa-github"></i>
                    </li>
                    <li class="list-inline-item">
                        <i class="fab fa-html5"></i>
                    </li>
                    <li class="list-inline-item">
                        <i class="fab fa-css3-alt"></i>
                    </li>
                </ul>
                <div class="subheading mb-3">Other Technical Skills</div>
                <ul class="fa-ul mb-0">
                    <li>
                        <i class="fa-li fa fa-check"></i>
                        Operating Systems:​ OS X, Linux, Windows, Embedded Systems (Exploring)
                    </li>
                    <li>
                        <i class="fa-li fa fa-check"></i>
                        Rapid Prototyping: ​STL, G-Code, AutoCAD, familiar with SVGs for laser-cutting
                    </li>
                    <li>
                        <i class="fa-li fa fa-check"></i>
                        Data Entry:​ Familiarity with the REDCap database management tool. Statistical analysis of data.
                    </li>
                </ul>
            </div>
        </section>
        <hr class="m-0">
        <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="interests">
            <div class="my-auto">
                <h2 class="mb-5">Interests</h2>
                <p>
                    I enjoy puzzles of all kinds, and I've explored this in a number of different ways ranging from Game-Theory for board-games to solving shortest-code challenges (&quot;code-golfing&quot;) on
                    <a href="https://codegolf.stackexchange.com">this StackExchange</a>, and I've spent a number of different Friday afternoons doing recreational mathematics.
                </p>
                <br />
                <p>
                    After a long day of tiring myself out trying to solve these problems, I have two ways to &quot;unwind&quot;. The first way is watching/reading Dystopian and Sci-Fi fiction, but the second is distance running.
                </p>
            </div>
        </section>
        <hr class="m-0">
        <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="aboutwebsite">
            <div class="my-auto">
                <h2 class="mb-5">Acknowledgements</h2>
                <p>
                    In the tech field, we always strive to leverage existing platforms and build upon them. In this light, I think its important to acknowledge these resources once we use them. This site was built using
                    <a href="http://getbootstrap.com">Bootstrap</a>. In particular, I adapted this
                    <a href="https://github.com/BlackrockDigital/startbootstrap-resume">template</a>. Both the template and the Bootstrap framework are licensed under an
                    <a href="https://github.com/BlackrockDigital/startbootstrap-resume/blob/gh-pages/LICENSE">MIT License</a>.
                </p>
            </div>
        </section>
        <hr class="m-0">
    </div>
    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
    <!-- Custom scripts for this template -->
    <script src="js/resume.min.js"></script>
</body>
</html>
