<head>
    <style>
        </style>
    <title>
        Rohan Jhunjhunwala, Personal Portfolio, Mandelbrot Render
    </title>
    
    <link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" media="screen">
        <link rel="stylesheet" type="text/css" href="stylesheets/github-dark.css" media="screen">
            <link rel="stylesheet" type="text/css" href="stylesheets/print.css" media="print">
                
                <link rel="stylesheet" type="text/css" href="stylesheets/github-dark.css" media="screen">
                    
</head>

<body>
    <center>
        
        <h1>Mandelbrot Set</h1>
        <img src = "images/mandelbrot.png" title = "Mandelbrot Set" style="width:70vw">
            
            <pre>
This is a smaller project, but it was another exploration of the intersection of art and computer sciences. The goal was to implement a Mandelbrot renderer in just under an hour, and it worked out pretty well. The Mandelbrot set is a pretty standard fractal in the field of mathematics, and it is a good example of how complex behavior can orignate from a simple set of structured rules.
            </pre>
            
    </center>
</body>
<h2 style="text-align:center"><a href = "https://github.com/rjhunjhunwala/Mandelbrot">Source</a></h2>
<h3 style="text-align:center"><a href = "index.html">Back</a></h2>

