

<head>
    <style>
        </style>
    <title>
        Rohan Jhunjhunwala, Personal Portfolio, The Simple Interpreted Language, and accompanied IDE
    </title>
    
    <link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" media="screen">
        <link rel="stylesheet" type="text/css" href="stylesheets/github-dark.css" media="screen">
            <link rel="stylesheet" type="text/css" href="stylesheets/print.css" media="print">
                
                <link rel="stylesheet" type="text/css" href="stylesheets/github-dark.css" media="screen">
                    
</head>

<body>
    <center>
        
        <h1>Interpreter/Compiler Design, and Integrated Developement Environment</h1>
        <img src = "images/SIL-S.I.L.O.S.png" title = "The Simple Interpreted Language!" style="width:70vw">
            <dont-break-out>
                <pre>
SIL is a fully functional, imperative, Turing-Complete language. It presented an opportunity to consider how humans express ideas, and how both natural languages and programming are tools we use to do so. Worked on for a few years (on and off), and was provided with an excellent foundation in Computer Science. Appreciated the importance of both collaboration and foundational design principles. Worked alongside members of the recreational programming community (developers of other esoteric languages) in order to refactor the first iteration of the interpreter to avoid computationally expensive String operations.
<br/>
<hr/>
S.I.D.E is a community project that goes hand-in-hand with SIL. Worked alongside a couple of other developers to  create this piece of software that provides support to developers of not only SIL, but of other esoteric languages which because of their strange nature, lack development tools. Above is a screenshot of a classic game being developed in my personal language within the IDE.
                </pre>
                </don't-break-out>
                </center>
</body>

<h2 style="text-align:center"><a href = "https://github.com/rjhunjhunwala/SIL-S.I.L.O.S">Source (Language)</a></h2>
<h2 style="text-align:center"><a href = "https://github.com/rjhunjhunwala/S.I.D.E">Source (IDE)</a></h2>
<h3 style="text-align:center"><a href = "index.html">Back</a></h2>
