<head>
    <style>
        </style>
    <title>
        Rohan Jhunjhunwala, Personal Portfolio, Waves
    </title>
    
    <link rel="stylesheet" type="text/css" href="../static/stylesheets/stylesheet.css" media="screen">
        <link rel="stylesheet" type="text/css" href="../static/stylesheets/github-dark.css" media="screen">
            <link rel="stylesheet" type="text/css" href="../static/stylesheets/print.css" media="print">
                
                <link rel="stylesheet" type="text/css" href="../static/stylesheets/github-dark.css" media="screen">
                    
</head>

<body>
    <center>
        
        <h1>Partial Differential Equations</h1>
        <img src = "../static/images/Waves.png" title = "Waves" style="width:70vw">
            
            <pre>
Used numerical methods to simulate the second order partial differential equation which relates the spatial Laplace operator of the heights of a section of fluid (say a body of water) to the acceleration with respect to time of the height of an individual column. Using these techniques, simulated, and re-created, the same ripples and interference patterns observed in nature.
            </pre>
            
            </center>
</body>
<h2 style="text-align:center"><a href = "https://github.com/rjhunjhunwala/Waves">Source</a></h2>
<h3 style="text-align:center"><a href = "index.html">Back</a></h2>
    
    

